.display-card{
  .location-image
    {

      width: 250px;
      height: 200px;
      //transform: scale(0.2); /* Equal to scaleX(0.7) scaleY(0.7) */
    }
border: 1px solid red;



}

.google-container{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2%;
  flex-wrap: wrap;
}
.google-stars{
  width: 20px;
  height: 20px;
}

.yelp-container{
  display: flex;
  //  justify-content: space-between;
    justify-content: space-evenly;
   
   margin-top: 2%;
   flex-wrap: wrap;

}
.rating-picture{
  height: 18px;
}
.yelp-rating{
     position: relative;
   bottom: 2px;
}

.health-container{
  margin-top: 4%;
}
.health-data-container{
  display: flex;
   justify-content: center;
   margin-top: 2%;
}

.test{
  & > button {
   
    font-size: 0.699rem;
    margin-left: 4px;
  }
   a {
      margin-right: 4px;
   font-size: 0.699rem;
  }
}