.display-card{
  .location-image
{

  width: 250px;
  height: 200px;
  //transform: scale(0.2); /* Equal to scaleX(0.7) scaleY(0.7) */
}
border: 1px solid red;


}



.google-stars{
  width: 20px;
  height: 20px;
}