.card-container{

  display: flex;
  flex-wrap: wrap;
   justify-content: space-evenly;

 // justify-content: center;

//    max-width: 700px;
//  position: relative; 
//  left: 700px;
}


.card-container > div{
      // border: 1px solid red;
      // float: left;
      margin: 15px,
    }